@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

body{
    background-color: black;
    height: 100vh;
}

.flex{
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

h2.titulo{
   color: #fff;
   font-size: 38px;
}

h2.titulo span{
  color: #00ff08;
}

button:hover{
   box-shadow: 0px 0px 8px #00ff08;
}



/*estilo do cabelhaço*/
header{
    padding: 40px 4%;
}

header > .interface{
     align-items: center;
     display: flex;
    justify-content: space-between; 
}
 header a{
    color: #7d7d7d;
    text-decoration: none;

 }

 head a:hover{
    color: aliceblue;
 }

 header nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
 }

 header nav ul li{
    display: inline-block;
    padding: 0 ;
 }

 .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
 }

 


 .logo {
    font-weight: bold;
    /* font-size: 30px; */
    color: white;
 }

 /* topo do site*/
  section.topo-do-site{
    padding: 40px 4%;

  }

  section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
  }
  
  .interface > .flex > .txt-topo-site > h1 {
    color: #fff;
    z-index: 999;
  }
  
 
  .interface > .flex > .txt-topo-site > p {
    color: #fff;
   z-index: 999;
 }

 .topo-do-site h1 span{
    color: #00ff08;
 }

 .topo-do-site .txt-topo-site p{
    margin: 100px 0;
 }
/* ESTILO DAS ESPECIALIDADES*/
section.especialidades{
   padding: 40px 4%;
}

section.especialidades .flex{
  gap: 60px;
}

.especialidades .especialidades-box{
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: .2s;
}

.especialidades .especialidades-box:hover{
  transform: scale(1.1);
  box-shadow: 0 0 8px #ffffffa0;
}

.especialidades .especialidades-box i{
   font-size: 70px;
   color: #00FF08;
}

.especialidades .especialidades-box h3{
  font-size: 28px;
  margin: 15px 0;
}

/*estilo do sobre*/
section.sobre{
   padding: 80px 4%;
}

section.sobre .flex{
   align-items: center;
   gap: 80px;
}
.sobre .txt-sobre{
   color: #fff;
}

.sobre .txt-sobre h2{
   font-size: 35px;
   line-height: 40px;
   margin-bottom: 30px;
}
 
.sobre .txt-sobre h2 span{
   color: #00ff08;
   display: block;
}

.sobre .txt-sobre p{
   margin: 20px 0;
   text-align: justify;
}

  .btn-social button{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: none;
   background-color: #00ff08;
   font-size: 28px;
   cursor: pointer;
   margin: 0 6px;
   transition: .2s;
}

/* estilo do portifolio*/
 section.portifolio{
   padding: 80px 4%;
   box-shadow: 0 0 40px 10px #7d7d7d63;
 } 
    
 section.portifolio .flex{
   justify-content: space-around;
   margin-top: 60px;
 }

.img-port{
   width: 300px;
   height: 430px;
   background-size: cover;
   background-position: 100% 0%;
   transition: 10s;
   cursor: pointer;
   border-radius: 40px;
   position: relative;
}

.img-port :hover{
   background-position: 100% 100%;
}

.overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000000c1;
   border-radius: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 24px;
   font-weight: 600;
   color: #fff;
   opacity: 0;
   transition: .5s;
}

.overlay:hover{
   opacity: 1;
}

/* ESTILO DO RODA PE*/

footer{
   padding: 40px 4%;
   box-shadow: 0 0 40px 10px #7d7d7d63;
}

footer .flex{
   justify-content: space-between;
}

footer .line-footer{
   padding: 20px 0;
}

.borda{
   border-top: 2px solid #00ff08;
}

footer .line-footer p i{
  color: #00FF08;
  font-size: 22px;
}

footer .line-footer p a{
   color: #fff;
}

.img{
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  display: flex;
}